fastapi==0.115.8
uvicorn==0.34.0
FastAPI-SQLAlchemy==0.2.1
SQLAlchemy==2.0.37
psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-multipart==0.0.20
svix==1.84.1
pandas==2.2.3
sentence-transformers==3.4.1
torch==2.6.0
rapidfuzz==3.12.2
requests==2.32.3
PyMySQL==1.1.1
